.formRoot {
  border: 1px solid black;
  width: fit-content;
  padding: 20px;
  text-align: right;
  background-color: lightgrey;
}

.fieldRoot {
  margin: 5px 0;

  input, select {
    margin-left: 5px;
    border: 1px solid black;
    outline: none;

    &:invalid:focus {
      border: 1px solid red;
    }

    &:valid {
      border: 1px solid green;
    }
  }
}

.table {
  width: 100%;
}

.td {
  text-align: center;
  border: 1px black solid;
}
.th {
  border: 2px black solid;
}
.formsContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 30px;
}

button {
  padding: 5px 10px;
}