.buttonOpenForm {
  padding: 7px 13px;
}
.shipFormContainer,
.truckFormContainer {
  width: 350px;
  margin-right: 20px;
}

form {
  background-color: lightgray;
  width: 100%;
  text-align: end;
  padding: 10px;
}

.formsContainer {
  padding: 20px 20px 0;

  display: flex;
}

#submitBtn {
  padding: 5px 10px;
}
